{% extends "home.html" %}

{% block title %}Free Translation!{% endblock %}

{% block content %}
      {% for project in projects %}
        {% if project.is_public %}
          <div class="card shadow mt-3">
          <div class="card-body">
            <span>
              {{ project.owner }} / <b><a href="{{ project.get_absolute_url }}">{{ project.name|title }}</a></b>
              </span>
              <p>{{ project.description }}</p>
              <hr>
              {{ project.created|timesince }}
          </div>
          </div>
        {% endif %}
      {% endfor %}
{% endblock %}