<div class="col col col-lg-4">
    <div class="card shadow mt-3">
        <div class="card-body">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Top active contributer</h5>
          <hr>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Top projects</h5>
          <hr>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <hr>
    <span class="m-2"><a href="">Help</a></span>
    <span class="m-2"><a href="">About us</a></span>
    <span class="m-2"><a href="">Site map</a></span>
    <span class="m-2"><a href="">Contact us</a></span>
</div>